# DO NOT COMMIT THE REAL secret.yaml
# kubectl create secret generic postgres-secret \
#   --namespace platafyi \
#   --from-literal=POSTGRES_PASSWORD='<strong-password>'
#
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: platafyi
type: Opaque
stringData:
  POSTGRES_PASSWORD: "CHANGE_ME"
